{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <!-- <script src="https://unpkg.com/axios/dist/axios.min.js"></script> -->
    <link rel="stylesheet" href="{% static 'frontend/main.css'%}">
    <title>Todo app js</title>
</head>
<body>
    <header class="head">
        <h1>Todo List</h1>
        <div class="forms">
            <form action="" class="search-form">
                <input type="text" placeholder="Enter task" id="task-search">
            </form>
        </div>
    </header>
    
    <section class="container">
        <!-- <h2>Add Task</h2> -->
        <div class="form-group">
            <form action="" id="form-input">
                <input type="text" placeholder="Enter task" id="task">
                <input type="submit" placeholder="" class="btn btn-primary">
            </form>
        </div>
        
    </section>
    <section class="container2">
        <div class="list-items">
            <!-- <h2>Task</h2> -->
            <div class="msg"></div>
            <ul id="items">
                <li class="item">Start Project
                    <button type="submit" class="btn btn-secondary" id="delete">X</button>
                    <button type="submit" class=" btn btn-sm" id="edit">Edit</button>
                    <button type="submit" class=" btn btn-sb" id="complete">Completed</button>
                </li>
            </ul>
        </div>
    </section>
    <!-- <script >
        const myform = document.querySelector('#form-input');
        // const task = document.querySelector('#task');
        const msg = document.querySelector('.msg');
        const tasklist= document.querySelector('#items');
        const filter= document.querySelector("#task-search");


        myform.addEventListener('submit', addevent);
        // filter.addEventListener('keyup', filteritems);
        tasklist.addEventListener('click', complete);


        function getCookie(name){
            var cookieValue = null;
            if(document.cookie && document.cookie !==''){
                var cookies = document.cookie.split(';');
                for(var i=0; i<cookies.length; i++){
                    var cookie =cookies[i].trim();

                    if(cookie.substring(0,name.length +1) === (name +'=')){
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        var csrftoken = getCookie('csrftoken')


        function addevent(d){
            const task = document.querySelector('#task');
            d.preventDefault();

            
            if(activeitem != null){
                var urlz = `http://127.0.0.1:8000/api/task-update/${activeitem.id}/`
            }else{urlz = `http://127.0.0.1:8000/api/task-create`}
            axios({
                method:'post',
                url: urlz,
                headers:{
                    'content-type':'application/json',
                    'X-CSRFToken': csrftoken},
                data: {"title":task.value}
            })
            .then(res => showlist())
            .catch(err => console.log(err))
            
            task.value = ""
        }

        var activeitem = null

        showlist()
        function showlist(){
            axios({
            method:'get',
            url: `http://127.0.0.1:8000/api/task-list`, 
            })
            .then(res =>showitem(res))
            .catch(err => console.log(err));

        

            function showitem(res){
                let tasks = res.data
                output = ""
                
                for(i=0; i<tasks.length ; i++){
                    
                    
                    if(tasks[i].complete== true){
                        console.log("yes")
                        const title = `<li class="item completed">${tasks[i].title}
                        <button type="submit" class="btn btn-secondary" id="delete">X</button>
                        <button type="submit" class=" btn btn-sm hide" id="edit">Edit</button>
                        <button type="submit" class=" btn btn-sb" id="complete">Completed</button>
                        </li>`
                        output += title
                    }
                    else{
                        const title = `<li class="item">${tasks[i].title}
                        <button type="submit" class="btn btn-secondary" id="delete">X</button>
                        <button type="submit" class=" btn btn-sm" id="edit">Edit</button>
                        <button type="submit" class=" btn btn-sb" id="complete">Completed</button>
                        </li>`
                        output += title
                    }
                       tasklist.innerHTML = output
                    }
                    
                    for(i=0; i<tasks.length ; i++){
                        const editbutton = document.querySelectorAll("#edit")[i]
                        editbutton.addEventListener('click', (function(item){
                            return function(){
                                edititem(item)}
                            })(tasks[i]))
                    }
                        
                    for(i=0; i<tasks.length ; i++){
                        const deletebutton = document.querySelectorAll("#delete")[i]
                        deletebutton.addEventListener('click', (function(item){
                            return function(){
                                deleteitem(item)}
                        })(tasks[i]))
                    }

                    for(i=0; i<tasks.length ; i++){
                        const completebutton = document.querySelectorAll("#complete")[i]
                        completebutton.addEventListener('click', (function(item){
                            return function(){
                                complete(item)}
                        })(tasks[i]))
                    }

                }
            }

            function edititem(item){
                activeitem = item
                const task = document.querySelector('#task').value = item.title
            }
            
            
            function deleteitem(item){
                
                axios({
                    method:'delete',
                    url: `http://127.0.0.1:8000/api/task-delete/${item.id}/`, 
                    headers:{
                        'content-type':'application/json',
                        'X-CSRFToken': csrftoken},
                    })
                    .then(res =>showlist())
                    console.log("clicked",item.id)
                
            }


            function complete(item){
                axios({
                    method:'post',
                    url: `http://127.0.0.1:8000/api/task-update/${item.id}/`, 
                    headers:{
                        'content-type':'application/json',
                        'X-CSRFToken': csrftoken},
                    data: {"title":item.title, "complete":true}

                    })
                    .then(res =>showlist())
                    console.log("clicked",item.complete)
                
            }

    </script> -->
    <script src="{% static 'frontend/main.js'%}"></script>
</body>
</html>