{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <link rel="stylesheet" href="{% static 'frontend/main.css'%}">
    <title>weather app</title>
</head>
<body>
    <section class="weather_app">
        <div class="header">
            <header class="head">
                <h2>My Weather App</h2>
            </header>
        </div>

        <section class="container">
            <h1>Add City</h1>
            <div class="form-group" >
                <form action="" id="form-input">
                    <input type="text" placeholder="Enter city Name" id="city">
                    <button type="submit" class="btn btn-sb" id="submit">Add</button>
                </form>
            </div>
        </section>

    </section>
    <script src="{% static 'frontend/main.js' %}" defer></script>
    <!-- <script></script> -->
</body>
</html>